@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --background: #2c3a47;
  --background-item: #fff;
  --primary: #fd7272;
  --second: #55e6c1;
  --smooth: transition all 0.3s ease;
  --text: #dff9fb;
  --border-radius: 8px;
  --white: #fff;
  --black: #000;
  --link-color: #12cbc4;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text);
  font-family: "Be Vietnam Pro", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login-bg {
  background-color: #fff;
  /* background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  ); */
}
.shadow {
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.3);
}
.notification {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: var(--smooth);
  max-width: 400px;
  animation: notify 0.5s ease;
}
@keyframes notify {
  from {
    opacity: 0;
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
